<label class="mb-4 block">
  <div class="text-sm">
    {{ label() }}
    @if (required()) {
      <span class="text-red-500">*</span>
    }
  </div>

  <input
    class="block w-full border border-neutral-500 bg-white px-3 py-1 outline-offset-2 outline-neutral-600 focus:outline-2 disabled:opacity-50"
    [class.border-red-500]="touched() && invalid()"
    [class.border-emerald-500!]="touched() && !invalid()"
    [name]="name()"
    [value]="value()"
    [disabled]="disabled()"
    (input)="value.set(input.value)"
    (blur)="touched.set(true)"
    #input
  />

  @if (touched() && errors().at(0)?.message; as errorMessage) {
    <span class="px-3 text-xs text-red-600">{{ errorMessage }}</span>
  }
</label>
